beautifulsoup4
playwright
PyPDF2
openai-whisper
faiss-cpu
python-dotenv
fastapi
uvicorn
torch
transformers
sentence-transformers
google-generativeai
python-multipart
langchain
langchain-community
pinecone-client
FlagEmbedding
